.Border {
    position: relative;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100px;
    border: .1px solid #2A2B30;
    margin-bottom: 10px;
    border-radius: 5px;
}
.Percentage{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100px;
    border: .1px solid #2A2B30;
    transition: transform 0.4s ease-in-out;
}
.PercentageTop{
    display: flex;
    margin: 10px;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
}
.PercentageTop .Left h5{
    color: #E7E8EA;
}
.PercentageBottom{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;

}
.PercentageRight .fas{
    color: white;
}
.PercentageBottom .Circle{
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #424345;
}
.PercentageBottom .Circle span{
    position: absolute;
    top: 7px;
    left: 7px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1D2025;
}
.PercentageBottom .Circle span h5{
    margin-top: 10px;
    margin-right: 6px;
    color: #E7E8EA;
}
.PercentageBottom .NonCircle{
    color: #E7E8EA;
    padding-bottom: 10px;
}
.Percentage:hover{
    transform: translate(10px,10px);
    border-radius: 5px;
    background: #359AF2;
    cursor: pointer;
}
.Percentage .Circle:hover{
    background: #51AEFD;
}
.Percentage .Circle span:hover {
    background: #359AF2;
}